DATABASE_URL=postgres://root:rootpass@localhost:5332/assignement
JWT_SECRET=askfalsdkjflksadflkasdflksajdflkjsdaflksd
ROOT_USER_PASSWORD=root
ROOT_USER_EMAIL=root@gmail.com
REDIS_HOST_NAME=localhost:6379
REDIS_USER_NAME=appuser
REDIS_PASSWORD=apppassword